body {
  background: #d297e9;
}
.gemini{
  position: fixed;
  left: 700px;
  top: 80px;
}
.bitch{
  margin: 300px 0 0 0;
  width: 700px;
}
.twofaced{
  width: 700px;
}
.makeup{
  width: 700px;
}
.tenor{
  width: 700px;
}
.kanye{
  width: 700px;
}
.judge {
  width: 700px;
}