* {box-sizing: border-box;}

body {
  background: #000000;
  font-size: 15px;
  background-image: url("a.jpg");
}

.title {
  background: #3c74c9;
  font-size: 30px;
  color: #fff;
}

img {
  width: 500px;
}

.content {
  width: 200px;
}

.desc {
  font-size: 12px;
  color: #aec4e5;
}

.tracks {
  color: #fff;
}

.labs {
  color: #fff;
}