* {box-sizing: border-box;}

.html {
  background: url("assets/img/d.jpg");
}

body {
  background: #000000;
  font-size: 15px;
  background-image: url("a.jpg");
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fce48f;
}

img {
  width: 500px;
  margin: 215px 0 0 0;
}

.content {
  width: 200px;
}

.desc {
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #a0a0a0;
}

.tracks {
  margin: 400px 0 0 0;
  color: #fff;
}

.labs {
  color: #fff;
}

.text {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #dbdbdb;
}
