* {box-sizing: border-box;}

body {
  background: #F6BC4F;
}

.home{
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lab1{
  position: absolute;
  font-size: 30px;
  top:10.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}

.lab2{
  position: absolute;
  font-size: 30px;
  top:20.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}

.lab3{
  position: absolute;
  font-size: 30px;
  top:30.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}

.lab3B{
  position: absolute;
  font-size: 30px;
  top:40.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}

.lab4{
  position: absolute;
  font-size: 30px;
  top:50.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}

.lab5{
  position: absolute;
  font-size: 30px;
  top:60.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}


.tracks{
  position: absolute;
  font-size: 20px;
  left: 50%;
  bottom: 1%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}




a.hometext {color: #73716E}
a.hometext:link {color: #73716E;}
a.hometext:visited {color: #73716E;}
a.hometext:hover {color: #73716E;}
a.hometext:active {color: #73716E;}

a.trackstext {color: #73716E}
a.trackstext:link {color: #73716E;}
a.trackstext:visited {color: #73716E;}
a.trackstext:hover {color: #73716E;}
a.trackstext:active {color: #73716E;}

a.lab1text {color: #fff}
a.lab1text:link {color: #fff;}
a.lab1text:visited {color: #fff;}
a.lab1text:hover {color:#73716E;}
a.lab1text:active {color: #fff;}

a.lab2text {color: #fff}
a.lab2text:link {color: #fff;}
a.lab2text:visited {color: #fff;}
a.lab2text:hover {color:#73716E;}
a.lab2text:active {color: #fff;}

a.lab3text {color: #fff}
a.lab3text:link {color: #fff;}
a.lab3text:visited {color: #fff;}
a.lab3text:hover {color:#73716E;}
a.lab3text:active {color: #fff;}

a.lab3btext {color: #fff}
a.lab3btext:link {color: #fff;}
a.lab3btext:visited {color: #fff;}
a.lab3btext:hover {color:#73716E;}
a.lab3btext:active {color: #fff;}

a.lab4text {color: #fff}
a.lab4text:link {color: #fff;}
a.lab4text:visited {color: #fff;}
a.lab4text:hover {color:#73716E;}
a.lab4text:active {color: #fff;}

a.lab5text {color: #fff}
a.lab5text:link {color: #fff;}
a.lab5text:visited {color: #fff;}
a.lab5text:hover {color:#73716E;}
a.lab5text:active {color: #fff;}