* {box-sizing: border-box;}

body {
  font-family: "futura", sans-serif;
  width: 600px;
  margin: -200px 0 1000px 540px;
}

.oh {
  font-size: 400px;
  margin: 0 0 0px 0;
}

.shoot {
  font-size: 20px;
  margin: 0 0 0 0;
}

.stick1 {
  position: sticky;
  top: 0;
	background-color: #FF7350;
}

.stick2 {
  position: sticky;
  top: 0;
	background-color: #FFC050;
}

.stick3 {
  position: sticky;
  top: 0;
	background-color: #FFE650;
}

.stick4 {
  position: sticky;
  top: 0;
	background-color: #A4FF50;
}

.stick5 {
  position: sticky;
  top: 0;
	background-color: #50FFAB;
}

.stick6 {
  position: sticky;
  top: 0;
	background-color: #50FFFF;
}

.before {
  position: fixed;
  left: 1%;
  bottom: 1%;
  z-index: -1;
  color: #F6BC4F;
  font-family: 'futura', sans-serif;
  font-size: 18px;
}

.all {
  position: fixed;
  left: 50%;
  bottom: 1%;
  z-index: -1;
  color: #F6BC4F;
  font-family: 'futura', sans-serif;
  font-size: 18px;
}

.next {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: -1;
  color: #F6BC4F;
  font-family: 'futura', sans-serif;
  font-size: 18px;
}

a.beforetext {color: #F6BC4F}
a.beforetext:link {color: #F6BC4F;}
a.beforetext:visited {color: #F6BC4F;}
a.beforetext:hover {color: #fff;}
a.beforetext:active {color: #F6BC4F;}

a.alltext {color: #F6BC4F}
a.alltext:link {color: #F6BC4F;}
a.alltext:visited {color: #F6BC4F;}
a.alltext:hover {color: #fff;}
a.alltext:active {color: #F6BC4F;}

a.nexttext {color: #F6BC4F}
a.nexttext:link {color: #F6BC4F;}
a.nexttext:visited {color: #F6BC4F;}
a.nexttext:hover {color: #fff;}
a.nexttext:active {color: #F6BC4F;}



