* {box-sizing: border-box;}

body {
  background: #6850FF;
}

.flash1 {
  position: fixed;
  right: 22.75%;
  top: 10%;
  width: 100px;
}

.flash2 {
  position: fixed;
  left: 24.25%;
  top: 21.5%;
  width: 100px;
}

.title1 {
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -50%);
  font-size: 44px;
  line-height: 44px;
  font-family: 'futura';
  font-style: bold;
  word-wrap: break-word;
  max-width: 800px;
  color: #F6BC4F;
}

.title2 {
  position: absolute;
  left: 50%;
  top: 22.5%;
  transform: translate(-50%, -50%);
  font-size: 44px;
  line-height: 44px;
  font-family: 'futura';
  font-style: bold;
  word-wrap: break-word;
  max-width: 800px;
  color: #fff;
}
.title3 {
  position: absolute;
  left: 50%;
  top: 21.5%;
  transform: translate(-50%, -50%);
  font-size: 44px;
  line-height: 44px;
  font-family: 'futura';
  font-style: bold;
  word-wrap: break-word;
  max-width: 800px;
  color: #8A8A8A;
}
.title4 {
  position: absolute;
  top: 22.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 44px;
  line-height:10px;
  color: #8A8A8A;
}

.desc {
  position: relative;
  left: 50%;
  margin: 80px 0 0 0;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 5px;
  color: #F6BC4F;
}

.begin {
  left: 48.5%;
  z-index:1;
  margin: 300px 0 0 0;
  color: #F6BC4F;
}
.text2 {
  font-size: 12px;
  color: #fff;
}

.flames1 {
  position: fixed;
  bottom:0%;
  width: 560px;
  margin: 0px 0 -50px -10px;
}

.flames2 {
  position: fixed;
  bottom:0%;
  width: 560px;
  margin: 0px 0 -50px 300px;
}

.flames3 {
  position: fixed;
  bottom:0%;
  width: 560px;
  margin: 0px 0 -50px 820px;
}

.flames4 {
  position: fixed;
  bottom:0%;
  width: 560px;
  margin: 0px 0 -50px 1120px;
}

.back {
  position: absolute;
  left: 49.25%;
  bottom: 30%;
  color: #F6BC4F;
  font-size: 12px;
}
a.begintext {color: #F6BC4F}
a.begintext:link {color: #F6BC4F;}
a.begintext:visited {color: #F6BC4F;}
a.begintext:hover {color: #fff;}
a.begintext:active {color: #F6BC4F;}

a.choosetext {color: #ffffff}
a.choosetext:link {color: #fff;}
a.choosetext:visited {color: #fff;}
a.choosetext:hover {color: #F6BC4F;}
a.choosetext:active {color: #fff;}

a.backtext {color: #F6BC4F}
a.backtext:link {color: #F6BC4F;}
a.backtext:visited {color: #F6BC4F;}
a.backtext:hover {color: #fff;}
a.backtext:active {color: #F6BC4F;}