body {background: rgb(226, 105, 89);}

.ram1 {
    position: relative;
    position: fixed;
    color: rgb(235, 224, 78);
    font-size: 130px;
}

.ram2 {
    position: relative;
    position: fixed;
    color: #fff;
    font-size: 128px;
}

.ram01 {
    position: absolute;
    width: 700px;
    top: 175px;
    left:260px;
}

.dwight {
    position: static;
    margin: 300px 1300px 0 0px;
    top: 300px;
    left: 100px;
}

.conan {
    position: static;
    margin: -900px 0 100px 900px;
}
.joey {
    margin: -450px 0px 600px 600px;
    position: static;
}

.ladybird {
    margin: 0 0 50px 0px;
    position: static;
}

.highenergy {
    margin: -450px 0px 0px 325px;
    position: static;
}

poem {
    color: #fff;
}
