* {box-sizing: border-box;}

body{
	font-family: 'Futura', sans-serif;
  color: #000;
  background-color: #000;
}

.fire {
  position: fixed;
  z-index: -1;
  width: 1680px;
}

#container{
  width:800px;
  position: absolute;
  top: 30%;
  left: 25%;
	width:50%;
}
#container h2{
	text-align:center;
	color:#FFC050;
}

#quoteContainer{
	width:75%;
	padding:10px;
  margin:30px auto;
  font-family: 'georgia';
	text-align: center;
  height:70px;
  color: #fff;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton{
	width:200px;
	margin-top: 10px;
	border:2px solid #000;
	color:#000;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton:hover{
	cursor:pointer;
	background:#000;
	color: #FFC050;	
}
#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
}
#quoteGenius{
  font-family: 'georgia';
  text-align: center;
  color: #fff;
}


/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}

.before {
	position: fixed;
	left: 1%;
	bottom: 1%;
	z-index: -1;
	color: #F6BC4F;
	font-family: 'futura', sans-serif;
	font-size: 18px;
}

.all {
	position: fixed;
	left: 50%;
	bottom: 1%;
	z-index: -1;
	color: #F6BC4F;
	font-family: 'futura', sans-serif;
	font-size: 18px;
}

.next {
	position: fixed;
	right: 1%;
	bottom: 1%;
	z-index: -1;
	color: #F6BC4F;
	font-family: 'futura', sans-serif;
	font-size: 18px;
}

a.beforetext {color: #F6BC4F}
a.beforetext:link {color: #F6BC4F;}
a.beforetext:visited {color: #F6BC4F;}
a.beforetext:hover {color: #fff;}
a.beforetext:active {color: #F6BC4F;}

a.alltext {color: #F6BC4F}
a.alltext:link {color: #F6BC4F;}
a.alltext:visited {color: #F6BC4F;}
a.alltext:hover {color: #fff;}
a.alltext:active {color: #F6BC4F;}

a.nexttext {color: #F6BC4F}
a.nexttext:link {color: #F6BC4F;}
a.nexttext:visited {color: #F6BC4F;}
a.nexttext:hover {color: #fff;}
a.nexttext:active {color: #F6BC4F;}

