body {
    background: #f00;
    margin: 0;
}

.column {
    background: #ff0;
    width: 130px;
    margin: 0 15px 0 15px;
    display: inline-block;
}

.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
    background: #0f0;
}